:root{
    --text-font: Verdana;
    --color-blue: #3E5979;
    --color-background: #f1efef;
    --color-orange-red:#CF6F26;
    --color-nav: #8dc0ff;
    --margin-vor-div:0;
    --color-dark: #03002e;
    --border:1px solid var(--color-dark);
}
*{
    text-align: center;
    font-family: var(--text-font);
    font-size: 20px;
    color:var(--color-dark);
}
h1{
    font-size: 40px;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-color: var(--color-background);
}
.container{
    display: grid;
    height: 100vh;
    height: 100dvh;
    box-sizing: border-box;

    grid-template-columns: 180px auto 180px;
    grid-template-rows: 100px auto 80px;

    grid-template-areas: 
    "platzhalter header header"
    "nav main aside"
    "footer footer footer";
    
}
.platzhalter{
    grid-area: platzhalter;
    background-color: var(--color-nav);
}
header{
    grid-area: header;
    background-color: var(--color-blue);
}

nav{
    grid-area:nav;
    background-color: var(--color-nav);
}

main{
    grid-area: main;
    overflow-y: auto;
    padding: 20px;
}

.aside{
    grid-area: aside;
    background-color: var(--color-blue);
}
footer{
    grid-area: footer;
    background-color: rgb(108, 108, 108);
    display: flex;
    justify-content: space-evenly;
}
.nav-items{
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}
.item{
    margin: var(--margin-vor-div);
}
.nav-links{
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: bold;
}
.nav-links:hover{
    color:white;
}
.in-mediathek-true{
    background-color: var(--color-nav);
}
