:root {
    --text-font-style: Verdana;
    --text-font-size: 18px;
    --text-font-size-small:12px;
    --text-font-size-nav:9px;
    --text-font-size-h1:30px;
    --text-font-size-h2:25px;
    --text-font-size-h3:20px;
    --color-blue: #3E5979;
    --color-background: #f1efef;
    --color-orange-red: #CF6F26;
    --color-nav: #8dc0ff;
    --color-dark: #03002e;
    --border: 1px solid var(--color-dark);
}
*{
    text-align: center;
    font-family: var(--text-font-style);
    color:var(--color-dark);
    font-size: var(--text-font-size);
}
h1{
    font-size: var(--text-font-size-h1);
}
h2{
    font-size: var(--text-font-size-h2);
}
h3{
    font-size: var(--text-font-size-h3);
}
h6{
    font-size: var(--text-font-size);
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-color: var(--color-background);
}
.container{
    display: grid;
    height: 100vh;
    height: 100dvh;
    box-sizing: border-box;

    grid-template-columns: 200px auto 200px;
    grid-template-rows: 100px 1fr 80px;

    grid-template-areas: 
    "platzhalter header platzhalter2"
    "nav main aside"
    "footer footer footer"; 
    
}
.platzhalter{
    grid-area: platzhalter;
    background-color: var(--color-nav);
}
.platzhalter2{
    grid-area: platzhalter2;
    background-color: var(--color-blue);
}
header{
    grid-area: header;
    background-color: var(--color-blue);
}

nav{
    grid-area:nav;
    background-color: var(--color-nav);
}

main{
    grid-area: main;
    overflow-y: auto;
}

.aside{
    grid-area: aside;
    background-color: var(--color-nav);
}
footer{
    grid-area: footer;
    background-color: rgb(108, 108, 108);
    display: flex;
    justify-content: space-evenly;
}
.nav-items{
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content:flex-start;
}
.nav-items p{   
    padding: 5px;
    margin: 5px;
}
.nav-links{
    display: inline-block; 
    border: var(--border);
    border-radius: 12px;     
    padding: 8px 14px; 
    
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: var(--text-font-size);
}
.nav-links:hover{
    color:white;
    background-color: var(--color-blue);
}
.in-mediathek-true{
    background-color: var(--color-nav);
}

.link-in-text{
    text-decoration: none;
    font-weight: bold;
}

.home{
    display: flex;
    justify-content: space-evenly;
}
img{
    max-width: 400px;
}

.home img{
    border:var(--border);
    margin-right: 1px;
    margin-bottom: 10px;
}
.home div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border:var(--border);
    margin: 0;
    padding-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.homepage{
    text-decoration: underline;
}

